<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WhenIsTheBus</title>

    <meta name="theme-color" content="#cc0000">

    <link rel="shortcut icon" href="fav/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="fav/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="fav/favicon-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="fav/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="fav/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="fav/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="fav/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="fav/favicon-16.png">
    <link rel="apple-touch-icon" href="fav/favicon-57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="fav/favicon-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="fav/favicon-72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="fav/favicon-144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="fav/favicon-60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="fav/favicon-120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="fav/favicon-76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="fav/favicon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="fav/favicon-180.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="fav/favicon-144.png">
    <meta name="msapplication-config" content="fav/browserconfig.xml">

    <!-- BOOTSTRAP + styles -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Latest compiled and minified Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <style>
      .centered {
        text-align: center;
      }
      /* The blue we use: #3B5998 */
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-105760496-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-105760496-1');
    </script>
  </head>

  <body>
    <div id="app" class="container">
      <ul class="list-group col-sm-12 col-md-6 col-md-offset-3 centered">
        <li class="list-group-item" > 
          <h1 style="color:#3B5998;">When is the Bus?</h1>
          <div><i>The BU Shuttle schedule conveniently displayed for your viewing pleasure</i></div>
          <img src="rhett.gif" class="img-responsive center-block" alt="Rhett">
          <div> Today's bus service: {{ service }} </div>
          <small><div><a href="https://www.bu.edu/thebus/live-view/">Map and Live View</a></div></small>
        </li>
        <li class="list-group-item" v-for="stop in Object.keys(stopNames)">
          <big style="color:#3B5998;"><big>{{ stopNames[stop] }} </big></big> 
          <br />
          <span v-if="stopTimes[stop]">Arriving in...</span>
          <span v-else>No buses soon.</span>
          <div v-for="minute in stopTimes[stop]">
            <span v-if="minute <= 5" style="color:green;"> {{ minute }} minutes </span>
            <span v-else-if="minute <= 15" style="color:#EE7600;"> {{ minute }} minutes </span>
            <span v-else style="color:red;"> {{ minute }} minutes </span>
          </div>
        </li>
        <li class="list-group-item">
          <a class="btn btn-primary" href="about.html" role="button">About / Contact</a>
        </li>
      </ul>
    </div>
    <script src="vue.js"></script>
    <script src="index.js"></script>
  </body>
</html>
