<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WhenIsTheBus.com</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-105760496-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-105760496-1');
    </script>
    <!-- BOOTSTRAP + styles -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Latest compiled and minified Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>

  <body>
    <div id="app" class="container">
      <h1>When Is The Bus .com</h1>
      <p> Service: {{ service }} </p>
      <div v-for="stop in Object.keys(stopNames)"> 
        <b><u>{{ stopNames[stop] }} <!--{{ stop }}--></u></b>
        <ul><li v-for="minute in stopTimes[stop]">{{ minute }} minutes </li></ul>
      </div>
      <br/>
      <p><a href="about.html">About</a></p>
    </div>
    <script src="vue.js"></script>
    <script src="index.js"></script>
  </body>
</html>
