<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WhenIsTheBus.com</title>
    <!-- BOOTSTRAP + styles -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Latest compiled and minified Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <style>
      .centered {
        text-align: center;
      }
      /* The blue we use: #3B5998 */
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-105760496-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-105760496-1');
    </script>
  </head>

  <body>
    <div id="app" class="container">
      <ul class="list-group col-sm-12 col-md-6 col-md-offset-3 centered">
        <li class="list-group-item" > 
          <h1 style="color:#3B5998;">When is the Bus?</h1>
          <div><i>The Boston University Shuttle, timed by BU, conveniently displayed for your viewing pleasure on whenisthebus.com</i></div>
          <img src="rhett.gif" class="img-responsive center-block" alt="Rhett">
          <div> Today's bus service: {{ service }} </div>
          <small><div> (For a map and live view, visit <br /><a href="https://www.bu.edu/thebus/live-view/">https://www.bu.edu/thebus/live-view/</a>)</div></small>
        </li>
        <li class="list-group-item" v-for="stop in Object.keys(stopNames)">
          <big style="color:#3B5998;"><big>{{ stopNames[stop] }} </big></big> 
          <br />
          <span v-if="stopTimes[stop]">Arriving in...</span>
          <span v-else>No buses soon.</span>
          <div v-for="minute in stopTimes[stop]">
            <span v-if="minute <= 5" style="color:green;"> {{ minute }} minutes </span>
            <span v-else-if="minute <= 15" style="color:#EE7600;"> {{ minute }} minutes </span>
            <span v-else style="color:red;"> {{ minute }} minutes </span>
          </div>
        </li>
        <li class="list-group-item">
          <a class="btn btn-primary" href="about.html" role="button">About / Contact</a>
        </li>
      </ul>
    </div>
    <script src="vue.js"></script>
    <script src="index.js"></script>
  </body>
</html>
